/**
 * "Henning" is the name for the rooster in German fables.
 * He is credited with vanity and cunning.
 * 
 * Song "CSS is OK"
 * https://www.youtube.com/watch?v=lbqOCS9bMpk
 **/

body {
  margin: 0;
  font: normal 1.2em DejaVu, Garamond,"Times New Roman", serif;
  color: #FAFAFA;
  background-color: #185C7C;
}

h1, h2, h3, h4, h5, h6 {
  font-family: DejaVu, Tahoma, Verdana, sans-serif;
}

a {
  color: #DC9060;
  text-decoration: none;
}

a:hover {
  color: #FAFAFA;
  text-decoration: underline;
}

a.freeze:hover {
  cursor: url(../images/swiffer-70x70.png),auto;
}

.bold {
  font-weight: bold;
}

.feather {
  width: 1em;
  height: 1em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
/*  border: .1em solid yellow; */
}

.featherWarn {
  width: 3em;
  height: 3em;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: yellow;
}

.featherNav {
  width: 1.1em;
  height: 1em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: red;
/*  border: .1em solid yellow; */
}

.featherBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: .5em;
  margin: .75em .75em;
  background-color: #FAFAFA;
  box-shadow: 0em .1em .5em #000;
  border-radius: .5em;
/*  transition: .3s; */
}

.featherBoxed {
  width: 1.5em;
  height: 1.5em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: #2B2F33;
/*  filter: drop-shadow(.1em .1em .2em #000); */
/*  transition: .3s; */
}

.featherBox:hover {
  margin: .25em .5em;
  background-color: #2B2F33;
}

.featherBox:hover > .featherBoxed {
  width: 2em;
  height: 2em;
  color: #FAFAFA;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  font-family: DejaVu, Tahoma, Verdana, sans-serif;
  text-align: center;
  overflow: hidden;
  background-color: #2B2F33;
  box-shadow: 0em .5em 1em 0em #000;
}

#navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  color: #FAFAFA;
  text-decoration: none;
  font-size: 1em;
  height: 2em;
  padding: 0em .3em;
/*  border: 1px solid green; */
}

#navbar a.active {
  background-color: #185C7C;
}

#navbar a.right {
  float:right
}

#navbar a.right .featherNav {
  fill: #545C64;
  color: #545C64;
/*  border: .1em solid yellow; */
}

#navbar a:hover {
  background-color: #185C7C;
  color: #DC9060;
}

#navbar a:hover > .featherNav {
  color: #FAFAFA;
}

#profile {
  margin-top: 2.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: .1em .1em .1em #000, 0em .1em 1em #000;
  border: 1px solid yellow;
}

#profile .avatar {
  margin:1em;
  padding: 1em;
  font-weight: bold;
  border: 1px solid green;
}

#profile .avatar img {
  max-width: 10em;
  max-height: 10em;
  border-radius: 50%;
  border: .3em solid #2B2F33;
  box-shadow: 0em .3em 1em 0em #000;
}

#profile .social-icons {
  margin: 1em;
  border: 1px solid orange;
}

#profile .social-icons a {
  display: flex inline;
}

#content {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid yellow;
}

#content .page {
  width: 50em;
  max-width: 80%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0em 2em 1em 2em; /* top right bottom left */
  background-color: #2B2F33;
  border-radius: .4em;
  box-shadow: .1em .2em .5em 0em #000;
/*  border: 2px solid #545C64; */
}

#content .page h1 {
  word-break: break-all;
  position: relative;
  left: -1.5em;
  top: -1em;
/*  width: max-content; */
  padding: .2em .5em;
  text-align: center;
  background: #545C64;
  border-radius: .2em;
  text-shadow: 0em .1em .2em #000;
  box-shadow: .1em .2em .5em 0em #000;
/*  border: .06em solid #DC9060; */
}

#content .page p {
  margin-left: 1em;
  padding-left: 0;
/*  border: 1px solid green; */
}

#footer {
  font: normal .7em DejaVu, Tahoma, Verdana, sans-serif;
  margin: 2em 0;
  padding: 1.5em;
  text-align: center;
  text-shadow: 0em .1em 1em #000;
  background-color: #545C64;
  box-shadow: 0em 0em 1em #000;
  border: 1px solid yellow;
}

#footer .feather {
  fill: red;
}

#footer p {
  margin: .1em;
  padding: 0;
  border: 1px solid green;
}

#footer a {
  color: #FAFAFA;
/*  border: 1px solid orange; */
}

#footer a:hover {
  color: #DC9060;
}
