body {
  margin: 0;
  font: normal 1em DejaVu, Garamond,"Times New Roman", serif;
  color: #FAFAFA;
  background-color: #185C7C;
}

h1, h2, h3, h4, h5, h6 {
  font-family: DejaVu, Tahoma, Verdana, sans-serif;
}

hr {
  border: 1px dashed #DC9060;
}

a {
  color: #DC9060;
  text-decoration: none;
}

a:hover {
  color: #FAFAFA;
  text-decoration: underline;
}

a.freeze:hover {
  cursor: url(../images/swiffer-70x70.png),auto;
}

#navbar {
  font: normal 1em DejaVu, Tahoma, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2; /* Stay on top */
  background-color: #2B2F33;
  box-shadow: 0px 5px 15px 0px #000;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
}

#navbar li.right {
  float: right;
}

#navbar li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  color: #FAFAFA;
  padding: 0em .3em;
}

#navbar li a:hover {
  background-color: #185C7C;
  color: #DC9060;
  text-decoration: none;
}

#navbar li a:hover > .featherNav {
    color: #FAFAFA;
}

#navbar li a.active {
  background-color: #185C7C;
}

#navbar li a.active > .featherNav {
    color: #FAFAFA;
}

#navbar .header {
  font-weight: bold;
}
/* Feather SVG Icons */
#navbar .featherNav {
  width: 1.2em; 
  height: 1em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: red;
/*  border: 1px solid green; */
}

#navbar .feather {
  width: 1.3em; 
  height: 1.3em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  color: #545C64;
}

/* Profile - The sidebar menu */
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal .6em DejaVu, Tahoma, Verdana, sans-serif;
  text-align: center;
  text-shadow: 0px 3px 5px #000;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 220px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  background-color: #545C64;
  overflow-x: hidden; /* Disable horizontal scroll */
/*  overflow-y: hidden; */
  color: #FAFAFA;
  border-right: 5px solid #DC9060;
  box-shadow: 2px 0px 4px 0px #000;
  transition: .5s;
/*  border: 3px solid green; */
}

#profile a {
  color: #FAFAFA;
}

#profile a:hover {
  color: #DC9060;
  text-decoration: none;
}

#avatar {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  display: inline;
  transition: .5s;
}

#avatar img {
  max-width: 100px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 3px solid #2B2F33;
  box-shadow: 0px 5px 20px 0px #000;
  margin-bottom: 10px;
  transition: .3s;
}

#avatar img:hover {
  max-width: 105px;
  max-height: 105px;
  border: 3px solid #DC9060;
  margin-bottom: 5px;
}
#profile ul {
  margin-top: 50px;
  padding: 0;
  list-style-type: none;
  transition: .5s;
/*  border: 2px solid green; */
}

#profile li {
  height: 35px;
  margin: 2px;
  transition: .5s;
/*  border: 1px solid yellow; */
}

#profile .info li {
  height: auto;
  margin: 2px;
/*  border: 1px solid yellow; */
}

#profile svg {
  max-width: 30px;
  max-height: 30px;
  margin-left: auto;
  margin-right: auto;
  fill: #FAFAFA;
  filter: drop-shadow(0px 3px 5px #000);
  transition: .3s;
}

#profile a svg:hover {
  max-width: 35px;
  max-height: 35px;
  margin-top: 0px;
  margin-left: auto;
  padding: 0px 0px;
  fill: #DC9060;
}

/* Style page content */
#content {
  margin-left: 220px; /* Same as the width of the sidebar */
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  transition: .5s;
/*  border: 2px solid yellow; */
}

#content div {
  width: 50em;
  max-width: 80%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 10px 40px; /* top right bottom left */
  background-color: #2B2F33;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px #000;
  /*  border: 2px solid #545C64;*/
}

/* Header/Logo Title */
#content div h1 {
  position: relative;
  left: -60px;
  top: -30px;
  width:max-content;
  padding: 20px 25px;
  text-align: center;
  background: #545C64;
  border-radius: 5px;
  text-shadow: 0px 3px 5px #000;
  box-shadow: 0px 5px 10px 0px #000;
  /*  border: 2px solid #2B2F33; */
}

#content div p {
  margin-left: 20px;
/*  border: 1px solid green; */
}

#content div ul {
  margin-left: 10px;
/*  border: 1px solid green; */
}

/* Scroll Back To Top Button */
/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 150px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #DC9060; /* Set a background color */
  color: #FAFAFA; /* Text color */
/*  cursor: pointer; /* Add a mouse pointer on hover */
/* crosshair none not-allowed progress wait */
  cursor: wait;
  padding: 10px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 12px; /* Increase font size */
  transition: .3s;
}

#topButton:hover {
  background-color: #545C64; /* Add a dark-grey background on hover */
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  #profile {width: 125px;}
  #profile a {font-size: 12px;}
  #profile ul {margin-top: 15px;}
  #content {margin-left: 125px;}
}

@media screen and (max-height: 450px) {
  #profile {width: 125px;}
  #profile a {font-size: 12px;}
  #profile ul {margin-top: 15px;}
  #content {margin-left: 125px;}
}
